@import "tailwindcss";
@import 'tailwindcss-animated';

:root {
  --background-hight: #ffffff;
  --background: #f1f1f1;
  --background-low: #ececec;
  --foreground-low: #2a2a2a;
  --foreground: #171717;
  --foreground-hight: #000000;

  --border-base: #888888;

  --primary-light: #26965c;
  --primary-color: #226b48;
  --primary-dark: #204737;
  

  --secondary-color: #8ee2e1;
  --secondary-light: #b6fcfb;
  --secondary-dark: #6cbdbc;

  --text-main-color: #232323;
  --text-hight-color: #484848;
  --text-low-color: #101010;

  --error-color: #e03e2f;
  --error-light: #ff6b5a;
  --error-dark: #b22a1f;

  --tooltip-background: #000000;
  --tooltip-foreground: #ffffff;

  --shadow-effect: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-hight: #171716;
    --background: #20201f;
    --background-low: #383736;
    --foreground-low: #d8d8d8;
    --foreground: #ededed;
    --foreground-hight: #ffffff;

    --tooltip-background: #ffffff;
    --tooltip-foreground: #000000;

    --primary-light: #0b7b41;
    --primary-color: #0a4b2c;
    --primary-dark: #0a2b1d;

    --shadow-effect: 0 6px 8px rgba(0, 0, 0, 0.5);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  color: var(--foreground-low);
}

h2 {
  font-size: 32px;
  line-height: 40px;
  color: var(--foreground);
}

.hide-number-input-arrows::-webkit-inner-spin-button,
.hide-number-input-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-number-input-arrows {
  -moz-appearance: textfield;
  appearance: textfield;
}
